solaris2:$apr1$nwMDl3qT$ga1f88UoWqZFG3shD6jKE0

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set X-Content-Type-Options "nosniff"
</IfModule>

